@page
@model CS2SKINAppWeb.Pages.QuemsomosModel
@{

}

<div class="row justify-content-md-center">
    <div class="col-8 p-5">

        <h3>Bem-vindo à SKIN CS2</h3>
        <p>Há mais de uma década, somos a sua fonte confiável para skins de Counter-Strike no Brasil. Descubra o mundo de possibilidades com as skins para o Counter-Strike 2.</p>

        <h5>Quem Somos</h5>
        <p>
            <img class="img-fuid float-end p-3"
                style="max-width: 40%" src="/Imagens/CS2 logo.webp"/>
            Desde o início, nossa missão tem sido proporcionar a você, jogador de CS, a oportunidade de expressar sua individualidade e estilo pessoal no mundo dos jogos. Com uma vasta seleção de skins, facas e adesivos, criamos um espaço onde você pode personalizar seu arsenal, tornando-se uma lenda no campo de batalha virtual.
        </p>

        <h5>Nosso Compromisso</h5> <p>A SKIN CS2 orgulha-se de oferecer skins de alta qualidade que atendem às necessidades e preferências dos jogadores mais exigentes. Nossa equipe de especialistas está constantemente buscando as últimas tendências e lançamentos do universo de Counter-Strike para garantir que você tenha acesso às skins mais exclusivas e desejadas.</p>
        <h5>Counter-Strike 2 - O Futuro do Jogo</h5> <p>Estamos entusiasmados em anunciar que nossa paixão por Counter-Strike continua a crescer com o lançamento do Counter-Strike 2. Com a próxima geração de jogos, estamos comprometidos em trazer a você as skins mais incríveis e exclusivas para aprimorar sua experiência de jogo. Este é o momento perfeito para se juntar a nós e mergulhar em um novo mundo de possibilidades.</p>
        <h5>Explore Nossas Ofertas</h5> <p>Em nossa loja, você encontrará uma ampla variedade de skins, desde clássicas até as mais recentes, para os dois jogos Counter-Strike. Além disso, oferecemos promoções exclusivas e pacotes que proporcionam um valor inigualável para nossos clientes fiéis.</p>
        <h5>Entre em Contato Conosco</h5> <p>A equipe da SKIN CS2 está aqui para ajudá-lo a encontrar as skins perfeitas e responder a todas as suas perguntas. Não hesite em entrar em contato conosco a qualquer momento.</p> <p>email:i@gmail.com</p>
        <h5>Junte-se à Comunidade SKIN CS2</h5> <p>Acompanhe-nos nas redes sociais para ficar por dentro das últimas novidades, promoções e competições. Queremos construir uma comunidade vibrante de jogadores apaixonados como você.</p>


        <p>Seja bem-vindo à SKIN CS2 - Sua casa para skins de Counter-Strike no Brasil. Estamos ansiosos para fazer parte da sua jornada de jogo, hoje e no futuro.</p>
    </div>
</div>

